{% extends 'base.html.twig' %}

{% block body %}
	<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
		<div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"></h2>
			<p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
				Liste des produits signalés. Pour limiter la liste sur les produits qui ne sont pas encore envoyé en réparation tapez "En attente de réparation" dans la barre de recherche.
			</p>
		</div>
		<div class="flex flex-col md:h-screen lg:py-0 mx-auto max-w-screen-xl px-4 lg:px-12">
			<div
				class="flex justify-between items-center mb-4">
				<div class="relative">
					<input type="text" id="searchInput" class="search-bar w-full px-4 py-2 text-sm text-gray-900 bg-white border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:text-white dark:border-gray-700 dark:focus:ring-blue-500" placeholder="Search..." value="En attente de réparation"/>
				</div>
			</div>

			<div class="overflow-x-auto">
				<table id="dataTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
						<tr>
							<th scope="col" class="px-4 py-3">Nom du produit</th>
							<th scope="col" class="px-4 py-3">Id du produit</th>
							<th scope="col" class="px-4 py-3">Nom d'utilisateur</th>
							<th scope="col" class="px-4 py-3">Email</th>
							<th scope="col" class="px-4 py-3">Id de l'utilisateur</th>
							<th scope="col" class="px-4 py-3">Description du Problème</th>
							<th scope="col" class="px-4 py-3">Coût de Réparation</th>
							<th scope="col" class="px-4 py-3">Date de Fin de Réparation</th>
							<th scope="col" class="px-4 py-3">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for data in reparationsData %}
							<tr class="border-b dark:border-gray-700">
								<td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ data.produit.nom }}</td>
								<td class="px-4 py-3">{{ data.produit.id }}</td>
								<td class="px-4 py-3">{{ data.user.nom }}</td>
								<td class="px-4 py-3">{{ data.user.email }}</td>
								<td class="px-4 py-3">{{ data.user.id }}</td>
								<td class="px-4 py-3">{{ data.descriptionProbleme ?: 'En attente de réparation' }}</td>
								<td class="px-4 py-3">{{ data.coutReparation ? data.coutReparation ~ ' €' : 'En attente de réparation' }}</td>
								<td class="px-4 py-3">{{ data.dateFinReparation ? data.dateFinReparation | date('d/m/Y') : 'En attente de réparation' }}</td>
								<td class="px-4 py-3">
									{% if data.dateFinReparation %}
										<button type="#" class="text-white bg-red-500 hover:bg-red-700 px-3 py-2 rounded" disabled>
											Envoyer
										</button>
									{% else %}
										<a href="{{ path('formulaire_reparation', {'produitId' : data.produit.id}) }}" class="text-white bg-blue-500 hover:bg-blue-700 px-3 py-2 rounded">
											Envoyer
										</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
