{% extends 'base.html.twig' %}

{% block body %}
	<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
		<div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"></h2>
			<p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
				Ici vous trouverez l'historique de vos emprunts vous devez imperativement rendre les produits empruntés 15 jours après la date d'emprunt
			</p>
		</div>
		<div
			class="min-h-screen flex flex-col mx-auto max-w-screen-xl px-4 lg:px-12">
			<!-- Start coding here -->
			<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
				<div class="overflow-x-auto">
					<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
						<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
							<tr>
								<th scope="col" class="px-4 py-3">Nom</th>
								<th scope="col" class="px-4 py-3">Category</th>
								<th scope="col" class="px-4 py-3">Type de produit</th>
								<th scope="col" class="px-4 py-3">Date d'emprunt</th>
								<th scope="col" class="px-4 py-3">Date de retour</th>
								<th scope="col" class="px-4 py-3">Signalement</th>
								<th scope="col" class="px-4 py-3">Rendre</th>
							</tr>
						</thead>
						<tbody>
							{% for historique in historiques %}
								<tr>
									<td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ historique.nom }}</td>
									<td class="px-4 py-3">{{ historique.categorie }}</td>
									<td class="px-4 py-3">{{ historique.type_produit }}</td>
									<td class="px-4 py-3">{{ historique.date_empreinte|date('d/m/Y') }}</td>
									<td class="px-4 py-3">{{ historique.date_rendu ? historique.date_rendu|date('d/m/Y') : 'En attente de retour' }}</td>
									<form method="post" action="{{ path('produit_rendre')}}">
									<td class="px-4 py-3">
										<div
											class="flex flex-col space-y-2">
											<label class="flex items-center">
												<input type="radio" name="signalement" value="Rien a signaler" checked class="mr-2">
												Rien à signaler
											</label>
											<label class="flex items-center">
												<input type="radio" name="signalement" value="Probleme detecte" class="mr-2">
												Problème détecté
											</label>
										</div>
									</td>

									<td class="px-4 py-3">
										
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('produit_rendre') }}">
											<input type="hidden" name="id" value="{{ historique.id }}">
											<input type="hidden" name="etat_init" value="{{ historique.etat_init.value }}">
											{% if historique.date_rendu == null %}
												<button class="text-white bg-blue-500 hover:bg-blue-700 px-3 py-2 rounded">
													Rendre
												</button>
											{% elseif historique.date_rendu !=  null %}
												<button type="#" class="text-white bg-red-500 hover:bg-red-700 px-3 py-2 rounded" disabled>
													Rendre
												</button>
											{% else %}
												<button type="#" class="text-white bg-red-500 hover:bg-red-700 px-3 py-2 rounded" disabled>
													Rendre
												</button>
											{% endif %}
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- Pagination dynamique -->
			</div>
		</div>
	</section>
{% endblock %}
